.vagas {
    display: flex;
    flex-direction: column;
}

.vagas__titulo {
    font-size: 20px;
    color: var(--cinza-escuro);
    margin-bottom: 50px;
    margin-left: 300px;
}

.titulo-vaga {
    font-size: 18px;
    margin-left: 330px;
    margin-bottom: 30px;
    color: var(--cinza-escuro);
}

.informacoes {
    display: flex;
    gap: 30px;
    margin-left: 360px;
    font-size: 16px;
    color: var(--cinza);
    margin-bottom: 70px;
}
