* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #FEC5B3;
    color: #1D438A;
}

.titulo-destaque {
    color: #4D8061;
}

p {
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
}

.meu-nome {
    color: #16326b;
}

.importante {
    color: red;
}

.apresentacao {
    display: flex;
    align-items: space-between;
}